

// Variables
color-link = #0080FF
color-bg = #ffffff
color-text = #424242
color-header = #ececec

zeromargin()
  margin 0
  padding 0
  -webkit-padding-start 0
  -webkit-margin-before 0
  -webkit-margin-after 0

body
  background-color #fff
  font 0.8em Georgia
  line-height 140%
  color color-text
  height 100%

.clear
  clear both

a
  color color-link
  text-decoration none
  &:hover
    text-decoration underline

#header
  background color-header
  height 110px
  border-bottom 1px solid silver
  #nav
    width 600px
    margin 0 auto
    h1
      zeromargin()
    h1.title
      padding-top 20px
      a
        color color-text
    .subtitle
      margin-top 25px

#main
  width 600px
  margin 0 auto
  margin-bottom 20px

#footer
  width 700px
  margin 0 auto
  p
    text-align center
  ul,ol
    zeromargin()
  li
    text-align center
    list-style-type none

// 記事表示

.article-box
  margin-top 30px
  margin-bottom 40px
  margin-left -33px
  padding-bottom 20px
  height 100%

.article-line


.date-likes
  float left
  width 100px
  height 100px
  a.like-button.disabled
    color color-text
    cursor normal

.article
  float left
  width 480px
  .title
    a
      color color-text
  .author
    text-align right
  .add-comment
    .text
      width 400px
  padding-bottom 10px
  border-bottom 1px solid silver
  
// 記事編集
.editor
  textarea
    width 450px
    height 400px
  .title
    width 450px
